.App {
  text-align: center;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

input[type="text"]:focus {
  outline: none;
}

.temp{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}